@{
    ViewBag.Title = "Home Page";
}

<ul>
    <li>@Html.ActionLink("Deadlock", "Deadlock")</li>
    <li>@Html.ActionLink("NotDeadlock", "NotDeadlock")</li>
    <li>@Html.ActionLink("AvoidDeadLockHack", "AvoidDeadLockHack")</li>
    <li>@Html.ActionLink("NotDeadlockSinAwait", "NotDeadlockSinAwait")</li>
    <li>@Html.ActionLink("ActualCorrectWay", "ActualCorrectWay")</li>
</ul>

<h2>Data</h2>
<div>@ViewBag.data</div>