@model dynamic

<div class="bloquecillo">
    <h3>ViewBag</h3>

    <div>@ViewBag.FromIndex</div>
    <div>@ViewBag.FromIndexView</div>
    <div>@ViewBag.FromPartial</div>
    <div>@ViewBag.FromHtmlViewBag</div>
</div>


<div class="bloquecillo">
    <h3>Html.ViewBag</h3>

    <div>@Html.ViewBag.FromIndex</div>
    <div>@Html.ViewBag.FromIndexView</div>
    <div>@Html.ViewBag.FromPartial</div>
    <div>@Html.ViewBag.FromHtmlVieweBag</div>
</div>

<div class="clear"></div>
